.header-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

.header-text {
  font-family: "Lucida Sans", "Lucida Grande", Verdana, sans-serif;
  font-size: 25px;
  color: #fff;
}
